extend ../layout/defaultLayout
block params
  - title=i18n.getValue("articleNew.pageTitle")

block content
  script(defer='defer', type='text/javascript')
    $(window).load(function() {
    tinyMCE.init({
    mode : "textareas"
    });
    });
  .container
    h1 #{i18n.getValue("articleNew.newArticle")}
    // Example row of columns
    .row
      .col-lg-8
        form.form-horizontal(action='/article/new', method='post', role='form')
          .form-group
            label.col-lg-2.control-label(for='title') #{i18n.getValue("articleNew.title")}
            .col-lg-10
              input#title.form-control(type='text', name='title', value='#{flash.title})
          .form-group
            label.col-lg-2.control-label(for='content') #{i18n.getValue("articleNew.content")}
            .col-lg-10
              textarea#content.form-control(name='content') #{flash.content}
          input.btn.btn-success.pull-right(type='submit', value='#{i18n.getValue("articleNew.postNewArticle")})
